.square {
    background: chocolate;
    border: 1px solid #000;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: 10px;
    text-align: center;
    width: 34px;
  }

.elementIndex {
    background: rgb(95, 174, 219);
    border-radius: 17px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 35px;
    margin-right: 11px;
    margin-top: 11px;
    text-align: center;
    width: 35px;
}

#container {
    width: 300px;
    height: auto;
    position: absolute;
    margin: 0 50%;
}

#elements {
    position: absolute;
}

#indexes {
    position: absolute;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 35px;
    margin-left: 13px;
    margin-right: 24px;
    margin-bottom: 15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#arrows {
    margin-top: 40px;
}

.arrowRed {
    border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 13px;
    margin-right: 13px;
}

#elementTitle {
margin-top: 50px;
}